body * {
    margin: auto !important;
}

img {
    display: flex;
    justify-content: center;
}

tbody tr:last-child td {
    padding: 0;
}

tbody tr:last-child td div {
    margin: auto;
    display: block;
    text-align: center;
    font-size: smaller;
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}